<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'category_list' %}">Category List</a>
                        <a href="{% url 'account_list' %}">Account List</a>
                        <a href="{% url 'create_category' %}">Create Category</a>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
        {% block content %}

        {% endblock content %}
</body>
</html>
